[contenteditable] {
  outline: 0px solid transparent;
}

body {
    background-color: #fde;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    grid-row: 1;
    color: #fde;
    background-color: #021;
    border-bottom: 2px solid #201;
    border-radius: 10px;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    padding: 1vw;
}

pre[class*="language-"].line-numbers > code {
    margin: 1vw;
}

.text {
    width: 42vw;
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vw;
    padding: 2vw;
}

.code {
    width: 42vw;
    padding: 2vw;
}

.code:nth-of-type(odd) {
    grid-column: 1/2;
}

.code:nth-of-type(even) {
    grid-column: 2/-1;
}

.text:nth-of-type(odd) {
    grid-column: 1/2;
}

.text:nth-of-type(even) {
    grid-column: 2/-1;
}